### 10. 行数のカウントPermalink

行数をカウントせよ.確認にはwcコマンドを用いよ

In [1]:
import pandas as pd

df = pd.read_table('./input/popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])
print(len(df))

2780

### 11. タブをスペースに置換Permalink

タブ1文字につきスペース1文字に置換せよ.確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ

### 12. 1列目をcol1.txtに,2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに,2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ.確認にはcutコマンドを用いよ

In [8]:
col1 = df["name"]
col1.to_csv("./output/col1.txt",index=False)
print(col1.head())

col2 = df["sex"]
col2.to_csv("./output/col2.txt",index=False)

0         Mary
1         Anna
2         Emma
3    Elizabeth
4       Minnie
Name: name, dtype: object

### 13. col1.txtとcol2.txtをマージPermalink

12で作ったcol1.txtとcol2.txtを結合し,元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ.確認にはpasteコマンドを用いよ

In [9]:
col1 = pd.read_table("./output/col1.txt")
col2 = pd.read_table("./output/col2.txt")

merged_1_2 = pd.concat([col1,col2],axis=1)
merged_1_2.to_csv("./output/maerged_1_2.txt",sep="\t",index=False)

print(merged_1_2.head())

        name sex
0       Mary   F
1       Anna   F
2       Emma   F
3  Elizabeth   F
4     Minnie   F

### 14. 先頭からN行を出力Permalink

自然数Nをコマンドライン引数などの手段で受け取り,入力のうち先頭のN行だけを表示せよ.確認にはheadコマンドを用いよ

In [10]:
def output_head(N):
  print(df.head(N))

output_head(5)

        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

### 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ

In [ ]:
def output_tail(N):
  print(df.tail(N))

output_tail(5)

### 16. ファイルをN分割するPermalink

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ

### 17. １列目の文字列の異なりPermalink

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ

### 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）

### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ